*{

margin: 0;
padding: 0%;
text-decoration: none;
list-style: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

/**Main**/

main {

    background-color: whitesmoke;


}

.box{

    background-color: whitesmoke;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 20px;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    

}

.gitprofs{

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.gitprofs a p {

    color: black;

}

.gitprofs img{

    width: 130px;
    height: 130px;
    gap: 20px;
    margin-top: 10px;

}

.gitprofs img:hover{

    transform: scale(0.95);
    transition: 0.35s;

}

h1{

    font-size: 220%;

}

p{

    font-size: 125%;

}


/** footer **/

footer{

width: 100%;
height: 49px;
background-color: black;
margin: 0%;
padding: 0%;
margin-top: 30px;
color: white;

}

footer li{

    font-size: 15px;
    font-weight: 470px;
    margin-top: 12px;

}

footer a{

    color: whitesmoke;

}
