*{

margin: 0;
padding: 0%;
text-decoration: none;
list-style: none;


}

/**Main**/

main {

    background-color: whitesmoke;


}

.box{

    background-color: whitesmoke;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 20px;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    

}

.gitprofs{

    display: flex;
    align-items: center;
    justify-content: center;

}

.gitprofs img{

    width: 130px;
    height: 130px;
    gap: 20px;
    margin-top: 10px;

}

h1{

    font-size: 220%;

}

p{

    font-size: 125%;

}


/** footer **/

footer{

width: 100%;
height: 45px;
background-color: black;
margin: 0%;
padding: 0%;
margin-top: 38px;


}

footer .ul {

background-color: black;
width: 100%;
color: whitesmoke;

}

footer ul {

display: flex;
text-align: justify;
align-items: center;
justify-content: center;
text-align: center;



}

footer li{

    font-size: 15px;
    font-weight: 470px;
    margin-top: 12px;

}

footer a{

    color: whitesmoke;

}
