*{

margin: 0;
padding: 0%;
text-decoration: none;
list-style: none;


}




/** footer **/

footer{

width: 100%;
height: 45px;
background-color: black;
margin: 0%;
padding: 0%;
margin-top: 38px;


}

footer .ul {

background-color: black;
width: 100%;
color: whitesmoke;

}

footer ul {

display: flex;
text-align: justify;
align-items: center;
justify-content: center;
text-align: center;



}

footer li{

    font-size: 15px;
    font-weight: 470px;
    margin-top: 12px;

}

footer a{

    color: whitesmoke;

}
