/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50; /* CINZA ESCURO */
    font-family: Arial, sans-serif;
}

/* CONTAINER */
.container-reg{
    margin-top: 70px;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    background-color: #ecf0f1; /* CINZA CLARO */
    border-radius: 14px;
    box-shadow: 0 0 18px rgba(0,0,0,0.3);
}

/* TÍTULO */
.container h2 {
    text-align: center;
    color: #2c3e50; /* CINZA ESCURO */
    margin-bottom: 20px;
    font-weight: bold;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* INPUTS */
input {
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #bdc3c7;
    background-color: white;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #2ecc71; /* VERDE */
    outline: none;
}

/* BOTÃO */
button {
    padding: 12px;
    background-color: #2ecc71; /* VERDE PRINCIPAL */
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

button:hover {
    background-color: #27ae60; /* VERDE ESCURO */
}

/* TEXTO INFERIOR */
.small-text {
    text-align: center;
    margin-top: 12px;
}

.small-text a {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
}

.small-text a:hover {
    text-decoration: underline;
}
