* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(52, 52, 52);
    color: white;
    text-align: center;
    padding: 20px;
    padding-top: 120px;
}



#map {
    height: 65vh;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #ddd;
}

#toggleAddButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

#toggleAddButton:hover {
    background-color: #0056b3;
}

#toggleAddButton.active {
    background-color: #28a745;
}



#backButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6c757d;
    color: white;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #5a6268;
}